

h1 {
  font-family: "Aaux Next", aaux-next, Arial, Helvetica, sans-serif;
  //font-weight: lighter;
  //font-size: 8rem;
  color: #14364c;
}
::-webkit-scrollbar {
  display: none;
}
.main {
  width: 100vw;
  //height: 100vh;
  background: #fdfbfa;
  position: relative;
  overflow: auto;
}
